*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

body{
    background-color: #d1d5da; 
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 50px;
    text-align: center;
    background-color:#0D1B2A;
    color:white;
    font-family: 'Lato', sans-serif;
}

main{
    text-align: center;
}

h2,h3{
    margin-top: 2rem;
    
}

p{
    margin-top: 1rem;
}

#logo{
    max-width: 80%;

}

.primary{
background-color: #0D1B2A;
color: white;
}
.secondary{
    background-color: #1B263B;
    color: white;
}

.accent1{
    background-color: #415A77;
}

.accent2{
    background-color: #778DA9;
}
table{
    margin: 0 auto;
}

td{
    width: 7rem;
    height: 7rem;
}

.colored{
    padding-top: 2rem;
    height: 5rem;
    background-color: #1B263B;
    color: white;
}


