body, html {
        height: 100%;
    }
    
    body{
    background-color: rgb(19,27,35);
    color: white;
    margin: 0;
    padding: 0;
    font-family: Roboto, Geneva, Tahoma, sans-serif;
}

#avatar{
    max-width: 200px;
    margin: 20px;
    
}


nav{

    grid-column: 1/3;
    grid-template-columns: auto;

}
    
#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 7px 6px;
    background-color: #eee;
    margin-left: 30%;
    margin-bottom: 10%;
    color: #000;
    top: 3rem;
    right: 1rem;
}
    
#menu::before {
    content: "☰";
}
    
#menu.open::before {
    content: '✖';
}
    
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
}
    .navigation li {
        display: none;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    
    /* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: block;
    }
    
    
    .active {
        background-color: #1B263B;
    }   
    nav li:hover{
        background-color: #778DA9;

    }

    /* The hero image */
    .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/florianopolis-ile-de-santa-catarina.jpg");
      
        /* Set a specific height */
        height: 70%;
      
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
      }
      
      /* Place text in the middle of the image */
      .hero-text {
        font-size: x-large;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }
    

    
#name{
    padding-top: 6rem;
    margin: auto;
    text-align: center;
}

.title { 
    text-align: center;
    color: #07232c;
    border-bottom: 1px solid rgb(175, 167, 167);

    
}

.hero-button{
    padding: 1rem 2rem;
}
.hero-button:hover{
    background-color: #07232c;
    color: white;
}



ul{
    padding: 0;
    margin: 0;
    list-style: none;
    

}

nav a{
    color: white;
    grid-column: 2;
    text-decoration: none;
    font-size:x-large;
    text-align: center;
    width: 100%;
   


}


.card{
    text-align: center;
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    background-color:#DEEFE7;;
}

.card h3{
    background-color: rgb(19,27,35);
   color: #DEEFE7;
   margin-top: 0;
   padding: 20px;
}



.card ul{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: start;
    background-color: #DEEFE7
}

.card li{
    padding-left: 20px;
    padding-top: 10px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

header{
    background-color: rgb(19,27,35);
    display: grid;
    grid-template-columns: 30% auto;
    color: #DEEFE7;
    max-width: 100%;

    
}
.content{
    padding: 10px;
    background-color: #DEEFE7;
}

footer{
    color: white;
    background-color: rgb(19,27,35);
    padding:5px;
    text-align: center;
}

#flag{
    width: 50px;
}

.events{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(19,27,35);
   
}

.events div{
    padding-bottom: 3rem;
    border-bottom: 1px solid white;
}
.events img{
 max-width: 60%;
 
}

.events-title{
    text-align: center;
    padding-bottom: 3rem;
    border-bottom: 1px solid white;
}

table{
    font-size: larger;
    margin: 0 auto;
}
table td{
   padding-right: 3rem;
}
.wheater, .wheater h3{
    color: white;
    background-color:#1B263B;
    padding: 5rem 0;
  
}
.card{
    background-color: #1B263B;
}
.checked {
    color: orange;
  }
.spotlights{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}
.rating{
    padding: 4rem 6rem;
    background-color: white;
    color: #1B263B;
}
.footer{
    background-color: rgb(19,27,35);
}
.footer-card{
    padding-top: 3rem;
    background-color: rgb(19,27,35);
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center
}
footer img{
    max-width: 40%;
}

.information{
    background-color: rgb(19,27,35);
}


.sky {
    margin: 0 auto;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #03A9F4;
   
}

.sun {
    position: relative;
    top: -3px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFEB3B;
    
}

.cloud {
    position: absolute;
    top: 60px;
    left: 30px;
   
}

.cloud:before,
.cloud:after {
    position: absolute;
    display: block;
    content: "";
}

.cloud:before {
    margin-left: -10px;
    width: 51px;
    height: 18px;
    background: #fff;
}

.cloud:after {
    position: absolute;
    top: -10px;
    left: -22px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 50px -6px 0 6px #fff, 25px -19px 0 10px #fff;
}

#temp{
    margin-top: -5rem;
    font-size: 5rem;
   
}

/* CALENDAR */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --calendar-bg-color: #262829;
    --calendar-font-color: #FFF;
    --weekdays-border-bottom-color: #404040;
    --calendar-date-hover-color: #505050;
    --calendar-current-date-color: #1b1f21;
    --calendar-today-color: linear-gradient(to bottom, #0c3c5267, #0c3c5267);
    --calendar-today-innerborder-color: transparent;
    --calendar-nextprev-bg-color: transparent;
    --next-prev-arrow-color : #FFF;
    --calendar-border-radius: 16px;
    --calendar-prevnext-date-color: #FFF
}

* {
    padding: 0;
    margin: 0;
}

.calendar {
    padding: 5%;
    grid-column: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
    border: 1px solid white;
    border-radius: 5%;
}

.calendar-inner {
    padding: 10px 10px;
}

.calendar .calendar-inner .calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar .calendar-inner .calendar-body div {
    padding: 4px;
    min-height: 30px;
    line-height: 30px;
    border: 1px solid transparent;
    margin: 10px 2px 0px;
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
    border: 1px solid transparent;
    border-bottom: 1px solid var(--weekdays-border-bottom-color);
}

.calendar .calendar-inner .calendar-body div>a {
    color: var(--calendar-font-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.calendar .calendar-inner .calendar-body div:hover {
    border: 1px solid var(--calendar-date-hover-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body div.empty-dates:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.calendar .calendar-inner .calendar-today-date {
    display: grid;
    text-align: center;
    cursor: pointer;
    margin: 3px 0px;
    background: var(--calendar-current-date-color);
    padding: 8px 0px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month {
    display: flex;
    min-width: 100px;
    justify-content: space-evenly;
    align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
    text-align: right;
}

.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
.calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
    font-weight: 500;
    font-size: 20px;
}

.calendar .calendar-inner .calendar-body .calendar-today {
    background: var(--calendar-today-color);
    border-radius: 4px;
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
    border: 1px solid transparent;
}

.calendar .calendar-inner .calendar-body .calendar-today a {
    outline: 2px solid var(--calendar-today-innerborder-color);
}

.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
    color: var(--calendar-font-color);
    font-family: arial, consolas, sans-serif;
    font-size: 26px;
    text-decoration: none;
    padding: 4px 12px;
    display: inline-block;
    background: var(--calendar-nextprev-bg-color);
    margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
    height: 20px;
    width: 20px;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg path,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
    fill: var(--next-prev-arrow-color);
}

.calendar .calendar-inner .calendar-body .prev-dates,
.calendar .calendar-inner .calendar-body .next-dates {
    color: var(--calendar-prevnext-date-color);
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  border: 1px solid transparent;
  pointer-events: none;
}

/* End CALENDAR*/
.next-event{

    padding: 5%;
    grid-column: 1;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    max-width: 400px; /*change as per your design need */
    min-width: 320px;
    background: var(--calendar-bg-color);
    color: var(--calendar-font-color);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: normal;
    border-radius: var(--calendar-border-radius);
    
}


  .images img{
   margin-bottom: 5%;
   max-width: 100%;
   height: auto;
  }

  

.visits{
    padding-bottom: 5%;
}

#discover-title{
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10%;
}

.visits-p{
    text-align: center;
    font-size:x-large;
    margin-bottom: 10%;

}

.cart-event{
    border: 1px solid white;
    border-radius: 5%;
    padding: 5%;
    margin-bottom: 20%;
}


:root{
    --main-color: #1B263B;
  --display: block;
  --second-color: #445ba9;
}

form{
   
    border-radius: 10px;
    background-color: white;
    margin-left: 2%;
    grid-column: 1;
}

form fieldset {
    
    margin: 2rem 0;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    padding: .5rem 2%;
    
}

form legend {
    color: var(--second-color);
    margin: 0 1rem;
    padding: 0 .5rem;
    
}

form label.top, form div{
    display: var(--display);
    padding: 1rem;
    color:var(--main-color);
    font-size: 1.2rem;
}

form label.top input, form label.top select {
    display: var(--display);
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 25rem;
    background-color: rgb(0,0,0,0.1);
}




form input.submitBtn{
    margin-left: 20%;
    border: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 100%;
    height: 70px;
    max-width: 20rem;
}



form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#r{
    width: 20rem;
    height: 4rem;
}

#form-title{
    text-align: center;
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}



.container {
    margin-left: 2%;
    color: #1B263B;
    width: 460px;
    padding: 40px;
    background: #ffffff;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 10%;
}
.container .title {
    font-size: 2rem;
    color: #333;
}
.container .price {
    color: #295288;
    font-weight: 700;
    font-size: 2.2rem;
    margin: 15px 0;
}
.container span {
    font-size: 1.2rem;
}
.container .description {
    color: #3b3b3b;
    font-size: 1.1rem;
    margin: 20px 0 20px;
}
.container .offer {
    display: block;
    color: #555;
    font-size: 1rem;
    margin-top: 25px;
}
.subscribe-button {
    display: inline-block;
    padding: 15px 0;
    background-color: #002333;;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: 40px;
    width: 100%;
    font-weight: 500;
    transition: 0.2s ease;
}

.ribbon-wrap {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    pointer-events: none;
}
.ribbon {
    width: 230px;
    font-size: 0.918rem;
    text-align: center;
    padding: 8px 0;
    background:#295288;
    color: white;
    position: absolute;
    transform: rotate(-45deg);
    right: -17px;
    top: 29%;
}

.plans{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

fieldset legend{
    color: #1B263B;
}

fieldset div{
    color: white;
    background-color:#1B263B ;
}

#member{
    color: white;
}

.sbs{
    margin-left: 4%;
}

#description{
    border-radius: 4px;
    width: 400px;;
}

.thankyou{
    width: 100%;
    height: 400px;
    background-color: #295288;
}
.thankyou h1{
    padding-top: 10%;
    font-size: xx-large;
    text-align: center;
    width: 100%;
}

figcaption{
    padding-bottom: 10px;
    font-size:x-large
}










 

