
@media screen and (min-width: 550px){
   
    
    header{
 
    
        color: rgb(255, 255, 255);
        
    }

   
    .navigation li{
       margin-top: 1rem;
    }
    

    .hero-image {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/florianopolis-ile-de-santa-catarina.jpg");
      
        /* Set a specific height */
        height: 70%;
      
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
      }

      .hero-text {

        top: 50%;
        left: 50%;
      
      }

    #avatar{
            max-width: 10%;

    }
    #name{
        margin-right: 50%;
    }

    .navigation {
        display: block;
        flex-direction: column;
        list-style: none;
        color: #fff;
    }
    .navigation li {
        display: block;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    nav{
        margin-bottom: 4rem;
    }

    nav li{
        margin-top: 5%;
        position:relative;
        float:left;
        width:20%;

    }
    nav li:hover{
        background-color: #778DA9;

    }

    #menu{
        display: none;
    }

    
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        grid-column: 1/3;
    }
    
    .title{
        grid-column: 1/4;
    }

    #information{
        grid-column: 3;
        
    }

    .content{
        background-color:#DEEFE7;

    }

    button{
        width: 12rem;
        height: 4rem;
        border-radius: 5px;
        font-size: larger;
    }
    .spotlights{
        display: flex;
        flex-wrap:nowrap;
        justify-content: space-between;
        text-align: center;
        background-color: rgb(19,27,35);
    }

    footer img{
        max-width: 50%;
       
    }

    .footer{
        background-color: rgb(19,27,35);
    }
    .footer-card{
        background-color: rgb(19,27,35);
        margin: 0;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content:center
    }

    .discover{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
   
    .images{
        grid-column: 2/4;
        width: 100%;
    
      }

    
      .images img{
        margin-bottom: 5%;
    
      }
      img:hover {box-shadow: 0 0 50px #f8f8f8;}
/* rounded corners - boxmodel */

      .joinpage{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
      .plans{
        grid-column: 2/4;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    

    
    form input.submitBtn:hover{

        background-color: #002333;
            color:white ;
        }
}