:root{
    --main-color: #002333;
  --display: block;
  --second-color: #445ba9;
}


form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    padding: .5rem 2%;
    
}

form legend {
    color: var(--second-color);
    margin: 0 1rem;
    padding: 0 .5rem;
    
}

form label.top, form div{
    display: var(--display);
    padding: 1rem;
    color:var(--main-color);
    font-size: 1.2rem;
}

form label.top input, form label.top select {
    display: var(--display);
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 30rem;
    background-color: rgb(0,0,0,0.1);
}




form input.submitBtn{
    border: none;
    background-color: var(--main-color);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover{

background-color: white;
    color: #002333;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

#r{
    width: 20rem;
    height: 4rem;
}

#form-title{
    text-align: center;
}
