
@media screen and (min-width: 550px){
   

    header{
    
        color: rgb(255, 255, 255);
        
    }

    #menu{
        display: none;
    }

    #avatar{
            max-width: 150px;
            margin-left: 60%;

    }
    #name{
        margin-right: 50%;
    }

    .navigation {
        display: block;
        flex-direction: column;
        list-style: none;
        color: #fff;
    }
    .navigation li {
        display: block;
    }
    .navigation li a {
        display: block;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    nav{
        margin-bottom: 4rem;
    }

    nav li{
        margin-top: 5%;
        position:relative;
        float:left;
        width:20%;

    }
    nav li:hover{
        background-color: #778DA9;

    }

    nav li{
        position:relative;
        float:left;
        width:25%;
    }
    
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card{
        grid-column: 1/3;
    }
    
    .title{
        grid-column: 1/4;
    }

    #information{
        grid-column: 3;
        
    }

    .content{
        background-color:#DEEFE7;

    }

    img {
        margin-left: 40%;
        width: 40%;
        height: auto;
      }

      iframe{
        width: 100%;
      }

     
}